{% extends "base.html" %}

{% block content %}


<div href="about">
    <!-- image -->
    <div class="about"></div>
</div>

<!-- image text -->
<div class="about_txt">
	<h2 style="color:#00284d; font-family: Courier; text-align:center">A little bit about me...</h2>
    <p>I am a junior software developer who is trained in the following languages: HTML, CSS, JavaScript, SQL, and Python.
        I have applied these languages in Bootstrap, Django, NodeJS, React JS, jQuery, mySQL, and SQlite.
    <br>
    <br>My passion is to bring order to chaos.
    <br>I especially loved working with Django and am excited to continue educating myself by learning new libraries and frameworks.
        I recently graduated from <a href="https://www.learncodinganywhere.com" target="_blank">The Tech Academy</a>’s Python Boot
        Camp where I worked on a live project. You can see it <a href="https://github.com/JoyMart" target="_blank">here</a>.
    </p>
</div>
<br>
<br>
<br>
{% endblock %}