{% extends "base.html" %}
{% load static %}


{% block content %}

<div href="home">
    <!-- image -->
    <div class="image"></div>
</div>

<!-- Video text -->
<div class="image_txt">
	<h2 style="color:white; font-family: Courier; text-align:center">Hey there!</h2>
		<p>
		    <italic>
                <center>
                    <p>My name is Joy Mart and I am a full stack developer.
                    <br>I love organization and beautiful, intelligent design.
                    <br>
                    <br>Let’s build a future together!
                    </p>
                </center>
			</italic>
		</p>
</div>
<br>
<br>



{% endblock %}
